#nav-sign {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#nav2 {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar .navbar-toggler .icon-bar {
    background: black !important;
}
/*@media (max-width: 769px) {*/
/*    nav .navbar-nav {*/
/*        background-color: gray;*/
/*    }*/
/*}*/
/*.navbar-brand {*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    border: 1.4px solid #00BFFF;*/
/*    border-radius: 5px;*/
/*}*/
/*.navbar-brand:hover {*/
/*    background-color: #00BFFF;*/
/*    transition: background-color .4s ease-in-out;*/
/*    color: #000000;*/
/*}*/

/*.navbar-toggle, .icon-bar {*/
/*    border:1px solid orange;*/
/*    background-color: #0d1d01;*/
/*}*/
