<div class="bg-light sticky-top">
<ul class="navbar-nav ml-auto list-inline bg-light" style="display: inline-block;float: right;margin-right: 14px;">
    <li class="nav-item list-inline-item">
        <a href="/register" class="nav-link">Register</a>
    </li>
    <li class="nav-item list-inline-item">
        <a href="/login" class="nav-link">Sign</a>
    </li>
</ul>
<nav class="navbar navbar-expand-lg navbar-light bg-light text-center" style="background-color: white;" id="nav2">

    <div class="container">

        <a href="/" class="navbar-brand"><img src="../logo/logo1.png"></a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-mobile" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbar-mobile">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/About-us.html.twig" class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="/contact-us" class="nav-link">Contact Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="/projects.html.twig" class="nav-link dropdown-toggle" data-toggle="dropdown">Projects</a>

                    <ul class="dropdown-menu text-center" style="">
                        <li >
                            <a href="/" class="dropdown-item ">Home</a>
                        </li>
                        <li >
                            <a href="/About-us.html.twig" class="dropdown-item">About Us</a>
                        </li>
                        <li >
                            <a href="/contact-us.html.twig" class="dropdown-item">Contact Us</a>
                        </li>
                        <li >
                            <a href="/projects.html.twig" class="dropdown-item">Projects</a>
                        </li>
                        <li >
                            <a href="/forms.html.twig" class="dropdown-item">Forms</a>

                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown" >Forms</a>
                    <ul class="dropdown-menu text-center">
                        <li >
                            <a href="/booking" class="dropdown-item ">Bookings</a>
                        </li>
                        <li >
                            <a href="/jobs" class="dropdown-item">Jobs Application</a>
                        </li>
                        <li >
                            <a href="/karate" class="dropdown-item">Karate Form</a>
                        </li>
                        <li >
                            <a href="/complain" class="dropdown-item">Complain Form</a>
                        </li>
                        <li >
                            <a href="/supplementary-form" class="dropdown-item">Supplementary Form</a>
                        </li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle"  data-toggle="dropdown" >Messages Received</a>
                    <ul class="dropdown-menu text-center">
                        <li>
                            <a href="/received-contact-us" class="dropdown-item">Contact Us Messages</a>
                        </li>
                        <li>
                            <a href="/booking_received" class="dropdown-item">Facility Bookings</a>
                        </li>
                        <li >
                            <a href="/jobs-received" class="dropdown-item">Job Received Messages</a>

                        </li>
                        <li><a href="/karate-messages">Karate Messages</a></li>
                        <li><a href="/complain-messages">Complain Messages</a></li>
                    </ul>
                </li>
                <li>

                </li>
            </ul>

        </div>


    </div>

</nav>
</div>
